{
    "dbUrl": "paste-your-db-url-here",
    "token": "paste-your-token-here",
    "chat": paste-your-chat-id-here,
    "autoStart": true,
    "workerInterval": 300000,
    "logfile": "bot.log",
    "trackSymbols": ["TSLA", "MSFT"]
}